################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FishCalculator.csproj
obj/
.vs/
bin/
